@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
    @font-face {
        font-family: 'AdelicaBrush';
        src: url("../fonts/Adelica Brush.ttf")
    }
    @font-face {
        font-family: 'GaretBook';
        src: url("../fonts/Garet-Book.ttf")
    }

    .place-shadow {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sr-hidden {
        visibility: hidden;
    }
    .hover-animation::before {
        inset: 0 100% 0 0;
        transition: right 0.6s;
        transition-timing-function: ease-in;
        background-color: #475569;
        left: 20px;
    }
    .line-transition-right {
        transition: left 500ms cubic-bezier(.5,1,.88,1.04) 50ms, right 500ms cubic-bezier(.5,1,.88,1.04);
    }
    .line-transition-left {
        transition: left 500ms cubic-bezier(.5,1,.88,1.04), right 500ms cubic-bezier(.5,1,.88,1.04) 50ms;
    }

    .transition {
        transition: transform 1600ms cubic-bezier(.5,1,.88,1.04)
    }
}